<div class="main-content">
    <div class="header-content">
        <div class="contacts-detail-text">
            Persons Details
            <div class="contacts-count">{{ this.contactsCount }}</div>
        </div>
        <a routerLink="/address-form" class="add-button">
            <img src="../../../assets/icons/add-24px.svg" alt="">
            <span>Add User</span> 
        </a>
    </div>
<div class="table-main">
<table id="display" class="table">
        <tr>
            <th>Full Name</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zipcode</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
        <tr *ngFor="let contact of contactsList">
            <td>{{contact.fullName}}</td>
            <td>{{contact.address}}</td>
            <td>{{contact.city}}</td>
            <td>{{contact.state}}</td>
            <td>{{contact.zipcode}}</td>
            <td>{{contact.phoneNumber}}</td>
            <td>
                <img id="{{contact.contactId}}" (click)="deleteContact($event)" alt="delete" src="../assets/icons/delete-black-18dp.svg">
                <img id="{{contact.contactId}}" routerLink="/address-form/{{contact.contactId}}" alt="edit" src="../assets/icons/create-black-18dp.svg">                    
            </td>
        </tr>    
</table>
</div>
