<div class="main-content">
    <div class="header-content">
        <div class="contacts-detail-text">
            Persons Details
            <div class="contacts-count">10</div>
        </div>
        <a routerLink="/address-form" class="add-button">
            <img src="../../../assets/icons/add-24px.svg" alt="">
            <span>Add User</span> 
        </a>
    </div>
<div class="table-main">
<table id="display" class="table">
        <tr>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zipcode</th>
            <th></th>
        </tr>
        <tr>
            <td>Rajesh P</td>
            <td>Srinagar</td>
            <td>Hyderabad</td>
            <td>Telangana</td>
            <td>55555555</td>
            <td>7777777777</td>
            <td>
                <img alt="delete" src="../assets/icons/delete-black-18dp.svg">
                <img alt="edit" src="../assets/icons/create-black-18dp.svg">                    
            </td>
        </tr>    
</table>
</div>
