<div class="main-content">
    <div class="header-content">
        <div class="contacts-detail-text">
            Persons Details
            <div class="contacts-count">10</div>
        </div>
        <a routerLink="/address-form" class="add-button">
            <img src="../../../assets/icons/add-24px.svg" alt="">
            <span>Add User</span> 
        </a>
    </div>
<div class="table-main">
<table id="display" class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zipcode</th>
            <th></th>
        </tr>
    </thead>    
</table>
</div>
