<div id="formId" class="form-content">
    <form class="form" action="#" [formGroup]="contactForm" onreset="resetForm()" (ngSubmit)="save()">
        <div class="form-header">
            <div class="form-header-text">Person Address Form</div>
            <a class="cancel-button" routerLink="/home" ><img src="../assets/images/cancel.jpeg" alt="logo"></a>
        </div>
        <div class="form-body">
            <span class="text-error">{{ this.errorText }}</span>
            <div class="row-content">
                <label class="label text" for="full-name">Full Name</label>
                <div><input formControlName="fullName" (input)="onNameChange()" class="input" type="text" id="fullName" name="fullName" required></div>
            </div>
            <div class="row-content">
                <label class="label text" for="notes">Phone Number</label>
                <input formControlName="phoneNumber" (input)="onPhoneNumberChange()"  class="input" type="text" id="phone-number" name="phoneNumber" required>
            </div>            
            <div class="row-content">
                <label class="label text" for="notes">Address</label>
                <textarea formControlName="address" (input)="onAddressChange()" class="input" id="address" name="address" style="height: 80px;" required></textarea> 
            </div>
            <div class="city-state-zipcode">
                <div>
                    <label class="label text" for="city">City</label>
                    <select formControlName="city" id="city" class="city" name="city" required>
                        <option value="">--Select city--</option>
                        <option value="Hyderabad">Hyderabad</option>
                        <option value="Mumbai">Mumbai</option>
                        <option value="Chennai">Chennai</option>
                    </select>    
                </div>
                <div>
                    <label class="label text" for="state">State</label>
                    <select formControlName="state" id="state" class="state" name="state" required>
                        <option value="">--Select state--</option>
                        <option value="Telangana">Telangana</option>
                        <option value="Maharastra">Maharastra</option>
                        <option value="Tamilnadu">Tamilnadu</option>
                    </select>    
                </div>
                <div>
                    <label class="label text" for="zipcode">Zipcode</label>
                    <input formControlName="zipcode" class="zipcode" id="zipcode" name="zipcode" required>
                </div>
            </div>
            <div class="buttonParent">
                <div class="submit-reset">
                    <button type="submit" class="button submitButton" id="submitButton">Add</button>
                    <button type="reset" class="button resetButton">Reset</button>        
                </div>
            </div>               
        </div>
    </form>
</div>
